#main {
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
margin-top: .5em;
width: 98%;
padding: 1%;
}

p {
font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
font-size: 14px;
margin-top: .5em;
font-weight: normal;
}

.searchMax {
width:20%;
padding: .5%;
float: left;
border-right: solid;
border-width: 1px;
}

.searchMin {
width: 1%;
padding: .5%;
float: left;
border-right: solid;
border-width: 1px;
}

#entityHead {
border-bottom: solid;
border-width: 1px;
text-align: center;

}

.resultsMin {
width:77%;
padding: .5%;
float: right;
}

.resultsMax {
width:97%;
padding: .5%;
float: right;
}

#data {
width: 100%;
padding: .5%;
}

#tabBar {
width: 100%;
height: 10%;
border-bottom: solid;
border-width: 1px;
}

#tab {
float: left;
width: 9%;
height: 25px;
margin: .1%;
border-right: solid;
border-width: 1px;
}

#tabName {
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.min{
float: right;
padding: 10px;
}

img {
float: right;
padding: 2px;
}

.highlight {
background-color: #B8B8B8;
}

.show {
display: block;
}

.hide {
display: none;
}

#working {
float: right;
}

table {
border-collapse: collapse;
border: 2px solid black;
}

td {
border: 1px solid black;
padding: 4px;
font-size: 12px;
min-width: 40px;
min-height: 25px;
}

.resize{
width: 90%;
}

#centerSort {
height: 21px;
width: 42px;
margin-left: auto;
margin-right: auto;
}
