#main {
width: 85%;
padding: 4%;
}

#search {
width:25%;
padding: .5%;
float: left;
border-right: solid;
border-width: 1px;
}

#entityHead {
border-bottom: solid;
border-width: 1px;
text-align: center;

}

#results {
width:70%;
padding: .5%;
float: right;
}

#data {
width: 100%;
padding: 1%;
}

#tabBar {
width: 100%;
height: 10%;
border-bottom: solid;
border-width: 1px;
}

#tab {
float: left;
width: 9%;
height: 25px;
margin: .1%;
border-right: solid;
border-width: 1px;
}

#tabName {
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

img {
float: right;
padding: 2px;
}

.highlight {
background-color: #B8B8B8;
}

.show {
display: block;
}

.hide {
display: none;
}

#working {
float: right;
}

table {
border-collapse: collapse;
border: 2px solid black;
}

td {
border: 1px solid black;
padding: 10px;
font-size: 14px;
}
